#page-title,#price{
    font-size: 24px;
}

#img-container{
    width: 100%;
    height: 235px;
    background-image: url(../Gallery/Uluwatu.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 14px;
}

#desc-title{
    font-size: 18px;
    font-weight: 700;
}

#desc-content{
    font-family: 'Roboto',sans-serif;
    text-align: justify;
    font-size: 14px;
}

#book-trip-container{
    width: 100%;
    border-radius: 13px;
}
.book-form{
    max-width: 264px;
    max-height: 28px;
}
#inner-container-right{
    max-width: 500px;
    margin-top: 4rem;
}
#check-button{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    width: 233px;
    height: 31px;
}
.schedule-text{
    font-size: 14px;
    padding-bottom: 0.2rem;
}
.schedule-text.content{
    border: 1px solid #14279B;
    border-radius: 15px;
    color: #14279B;
    padding-bottom: 0.2rem;

}
tbody, td, tfoot, th, thead, tr {
    border: none;
}
#table-container{
    border-radius: 13px;
}
