h1,h2,h3{
    font-family: 'Roboto', sans-serif;
}
h1,h2{
    font-weight: 700 !important;
    letter-spacing: 1px;
}
h3{
    font-weight: 600 !important;
}
p{
    font-family: 'Roboto',sans-serif;
    font-size: 18px;
}
.btn-primary{
    border-color: #14279B !important;
    background-color: #14279B !important;
}
.btn-primary:hover{
    background-color:white !important;
    color: black !important;
}

.btn-secondary,.btn-secondary:focus{
    border-color: #14279B !important;
    background-color: white !important;
    color:black
}
.btn-secondary:hover{
    background-color:#14279B !important;
    color: white !important;
}
.bi-search{
    color: white;
}
#search-icon:hover{
    background-color: #3D56B2 !important;
}
#redbutton{
    background-color: #ed1c24!important;
    border-color: #ed1c24!important;
}
#redbutton:hover{
    background-color: white !important;
}
.redbutton{
    background-color: #ed1c24;
    border-color: #ed1c24;
    color: white;
}
.redbutton:hover{
    background-color: white;
    color: black;
}
.redbutton2{
    background-color: #ed1c24;
    border-color: #ed1c24;
    color: white;
}
.redbutton2:hover{
    background-color:#fd0e35;
    color: white;
}
.greenbutton{
    background-color: #228b22;
    border-color: #228b22;
    color: white;
}
.greenbutton:hover{
    background-color: white;
    color: black;
}
#greenbutton{
    background-color: #228b22 !important;
    border-color: #228b22!important;
}
#greenbutton:hover{
    background-color: white !important;
}
.xbutton{
    font-size: 1.7rem; border:1px solid #ed1c24; border-radius: 5px; color:black;
}
.xbutton:hover{
    background-color: #ed1c24;
    color: white;
}
.xbutton2{
    color: white;
    background-color: #ed1c24;
    border:1px solid #ed1c24; 
    border-radius: 50%; 
    font-size: 1.5rem;
}
.xbutton2:hover{
    color: #ed1c24 ;
    background-color: white ;
}
.editbutton{
    font-size: 16px; border:1px solid #FFD700; border-radius: 5px; color:black;
}
.editbutton:hover{
    background-color: #FFD700;
    color: white;
}
.editbutton2{
    font-size: 1.7rem; border:1px solid #FFD700; border-radius: 5px; color:black;
}
.editbutton2:hover{
    background-color: #FFD700;
    color: white;
}

.wrapper {
    display: flex;
    align-items: stretch;
}

#sidebar.active {
    margin-left: -250px;
}
@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
}
p {
    font-family: 'Roboto', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
}

a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    min-height: 100vh;
    background: #3D56B2;
    color: #fff;
    transition: all 0.3s;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #6d7fcc;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #47748b;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a{
    padding: 10px;
    font-size: 1.1em;
    display: block;
}
#sidebar a:hover {
    color: #7386D5;
    background: #fff;
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
    color: #fff;
    background: #6d7fcc;
}
ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #6d7fcc;
}
.side-title{
    font-size: 24px;
}
.side-navlinks{
    font-size: 14px;
}
#img-wrapper{
    max-width: 750px;
    max-height: 450px;
}
.admin-table{
    max-width: 850px;
}
#zoom-element{
    transition:transform .2s;
}
#zoom-element:hover{
    transform: scale(1.03);
    cursor: pointer;
}
#dashboard-icons{
    font-size: 14px; color:white;
}
#dashboard-icons:hover{
    color: #7386D5;
}
#rating-stars{
    font-size: 1rem; color:gold;
}
#rating-stars-empty{
    font-size: 1rem; color:#444;
}
#star-container label{
    float: right;
    font-size: 2rem;
    padding-left:  1rem;
}
#star-container input{
    display: none;
    transition:all 0.2s ease;
}
#star-container input:not(:checked) ~ label:hover,
#star-container input:not(:checked) ~ label:hover~label{
    cursor: pointer;
    color: gold;
}
#star-container input:checked ~label{
    cursor: pointer;
    color: gold;
}
#star-container input#rate-5:checked~label{
    color: gold;
}
.background-set{
    background-position: center;
    background-size: cover;
    max-height: 147px;
    min-width: 211px;
}
#create-button,#add-button{
    border-radius: 20px;
    width: 290px;
}
#removebutton{
    background-color: red !important;
}
#removebutton:hover{
    background-color: rgb(253, 74, 74)  !important;
    color: white !important;
}
.user-name{
    color: #14279C;
}
.user-name:hover{
    text-decoration: underline;
    text-decoration-color: #14279B;
}
.hover-shadow{
    transition: all 0.3s;
}
.hover-shadow:hover{
    border: solid 1px #CCC;
    -moz-box-shadow: 1px 1px 5px #999;
    -webkit-box-shadow: 1px 1px 5px #999;
    box-shadow: 1px 1px 5px #999;
}