h1,h2,h3{
    font-family: 'Roboto', sans-serif;
}
h1,h2{
    font-weight: 700 !important;
    letter-spacing: 1px;
}
h3{
    font-weight: 600 !important;
}
p{
    font-family: 'Nunito';
}
.btn-primary{
    border: none !important;
}
.btn-primary:hover{
    background-color: #40514E !important;
}