h1,h2,h3{
    font-family: 'Roboto', sans-serif;
}
h1,h2{
    font-weight: 700 !important;
    letter-spacing: 1px;
}
h3{
    font-weight: 600 !important;
}
p{
    font-family: 'Roboto',sans-serif;
    font-size: 18px;
}
.btn-primary{
    border-color: #14279B !important;
    background-color: #14279B !important;
}
.btn-primary:hover{
    background-color:white !important;
    color: black !important;
}

.btn-secondary,.btn-secondary:focus{
    border-color: #14279B !important;
    background-color: white !important;
    color:black
}
.btn-secondary:hover{
    background-color:#14279B !important;
    color: white !important;
}
.bi-search{
    color: white;
}
#search-icon:hover{
    background-color: #3D56B2 !important;
}