.nav-link{
    font-size: 18px;
    margin: 0px 5px;
    font-weight: 300;
}
#custom-navbar{
    font-family: 'Roboto', sans-serif !important;
    min-height: 70px;
    background-color: #14279B;
}
.nav-link{
    transition:transform .2s;
}
.nav-link:hover{
    transform: scale(1.1);
}
#navbar-button{
    border-radius: 15px;
    width: 139px;
    height: 37px;
    font-weight: bold;
    color: #14279B;
}
#navbar-button:hover{
    background-color: #E6E6E6 !important;
    color: black !important;
}
#navbar-logo{
    max-width: 200px;
    max-height: 200px;
}
