body{
    background-color: white;
}
label{
    font-size: 18px !important;
}
#max_capacity_per_day{
    max-width: 65px;
}
#tourpostheadertitle{
    font-size: 36px;
}
#tourpostform{
    max-width: 800px;
}
#tourpostcontainer{
    max-width: 1500px;
}
#create-button,#add-button{
    border-radius: 20px;
    width: 290px;
}
#removebutton{
    background-color: red !important;
}
#removebutton:hover{
    background-color: rgb(253, 74, 74)  !important;
    color: white !important;
}
